@model IEnumerable<GameStore.Models.Order>

@{
    ViewData["Title"] = "PreviousOrder";
}

<body background="/images/landscape.png">
    <h2>Enter Previous Order Information</h2>

    <form asp-controller="Orders" asp-action="PreviousOrder">

            <p><b>Order Id</b></p>
            <input name="id">
            <hr/>

            <p><b>E-Mail</b></p>
            <input name="email" size="25">
            <hr />

            <input type="submit" value="Search Order" /> <span class="glyphicon glyphicon-search"></span>
    </form>
</body>